{% extends 'articles/base.html' %}

{% block site %}
<div class="log-form">
    <form method="post" class="flex-form" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>{{ title }}</h2>
        <div class="flex-wrapper">
            <div class="errors">{{ form.non_field_errors }}</div>
            {% for f in form %}
                <div class="input">
                    <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                    <div class="form-error">{{ f.errors }}</div>
                </div>
            {% endfor %}
            <button type="submit" class="flex-form__button">Изменить</button>
        </div>
    </form>

</div>
{% endblock %}