.user-data {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 50px 50px 0 50px;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    box-sizing: border-box;
}

.user-data__form {
    justify-self: center;
    width: 70%;
}

.user-data__user-posts {
    padding: 0;
    margin: 0;
}

.user-data__user-posts li {
    margin: 0 0 20px 0;
}

.user-data__user-posts li > a {
    margin: 0 7px 0 0;
}

/* .form-file-input {
    background-color: orange;
    width: 100px;
    height: 50px;
} */